@import url('https://fonts.googleapis.com/css2?family=Combo&family=Press+Start+2P&family=Rubik+Moonrocks&family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #1a1a1d;
  font-family: 'Secular One', sans-serif;
  /* color: #797979; */
}

#project{
  height: auto;


}

html{
  scroll-behavior: smooth;
}
.container {

  height: 100vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  background-attachment: fixed; 
}

#top{
  cursor: pointer;
}
.about {
  
  height: 500px;
  margin-top: 100px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 60% 35%;
  justify-content: space-around;

}

.about>.first {
  text-align: center;
}

.about>.first>h1 {
  font-size: 70px;
  position: relative;
  z-index: 5;
  background-color: #1a1a1d;
  background-image: linear-gradient(to right, #c3073f, #b5496a, #121212, hsl(180, 57%, 36%));
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 1.5s infinite alternate-reverse, text 2s 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about>.first>:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  animation: animatedText 1.5s infinite alternate-reverse, textb 3s 1;
  background-image: linear-gradient(to right, #c3073f, #b5496a, #121212, hsl(180, 57%, 36%));
  background-size: 300%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.second {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.second>img {
  flex-shrink: 0;
  width: 80%;
  padding-top: 50px;
}

.sec {
  display: grid;
  justify-content: center;
}

.second+div {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  height: 50px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.second+div>div {

  height: 25px;
  width: 25px;
  margin-left: 12px;
  transition: 0.25s;

}

.second+div>div:hover {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.second+div>div>img {
  width: 100%;
  animation: fade 2s;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1a1a1d;
}

::-webkit-scrollbar-corner {
  background-color: #1a1a1d;

}

::-webkit-scrollbar-thumb {
  border: 3px solid;
  background-color: #c3073f;
  border-radius: 5px;

}

.techstack {
  font-weight: 900;
  color: #c3073f;
  text-align: center;
}

.head {
  margin: 80px 0 40px 0;
  font-size: 40px;
  color: #c3073f;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

}

.btn {
  height: 3rem;
  width: 10vw;
  font-size: 100%;
  color: white;
  border: 2px solid white;
  background-image: linear-gradient(to right, #c3073f, #c3073f, #1a1a1d, #1a1a1d);
  background-size: 300%;
  background-position: -50%;
  transition: 1s;

}

.btn:hover {
  background-position: -300%;
  cursor: pointer;
}

.images {
    display: grid;
  width: 70%;
  grid-template-columns: repeat(4, 11%);
  justify-content: space-around;
  grid-row-gap: 60px;
  margin: auto;
  cursor: pointer;
  color: white;
}



.images>div>img {
  border-radius: 10px;
  width: 100%;
}

.images>div:hover {
  scale: 1.2;
}

.socialMedia {
  height: 20px;
  width: 20px;
}


@keyframes text {
  0% {
    color: #1a1a1d;
    margin-bottom: -90px;

  }

  30% {
    letter-spacing: 20px;
    margin-bottom: -90px;
    font-size: 40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -90px;
    font-size: 60px;
  }
}

@keyframes mtext {
  0% {
    color: #1a1a1d;
    margin-bottom: -90px;

  }

  30% {

    letter-spacing: 13px;
    margin-bottom: -90px;
    font-size: 30px;
  }

  85% {

    letter-spacing: 8px;
    margin-bottom: -90px;
    font-size: 30px;
  }
}

@keyframes textb {
  0% {
    color: #1a1a1d;
    -webkit-text-fill-color: #1a1a1d;
    display: none;
  }

  30% {
    color: #1a1a1d;
    -webkit-text-fill-color: #1a1a1d;
    display: none;
  }

  50% {
    color: #1a1a1d;
    -webkit-text-fill-color: #1a1a1d;
    display: none;
  }
}

@keyframes fade {
  0% {
    /* visibility: hidden; */
  }

  25% {

    display: none;
    scale: 2;
  }

  50% {
    visibility: hidden;
    scale: 1.5;
  }
}

@keyframes animatedText {
  to {
    background-position: -300%;
  }
}

@keyframes fadein {
  from {
    margin-top: 500px;
    display: none;
  }

  to {
    margin-top: 0;
    display: block;
  }
}
@keyframes ntext {
  0% {
    color: #1a1a1d;
    margin-bottom: -90px;

  }

  30% {

    letter-spacing: 9px;
    margin-bottom: -90px;
    font-size: 15px;
  }

  85% {

    letter-spacing: 5px;
    margin-bottom: -90px;
    font-size: 15px;
  }
}

.projects {

  margin: 2vw auto 2vw auto;
  height: 400px;
  text-align: center;
   position: relative;
   width: 80%;
  
}
/* .carousel_container{
  position: relative;
  height: 100%;
  width: 100%;
   overflow-x: hidden; 
}
.carousel_button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 100;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;

}
.carousel_button>img{
  width: 100%;
} */
.left{
 left: 0;

}
.right{
  right: 0;
}
/* .slide{

  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;

} */
.firstProject, .secondProject{
  display: grid;
  justify-content: space-around;

  padding: 4vw;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;

  border-radius: 2vw;
  margin-top: 2vw;
}
.firstProject {

  grid-template-columns: 30% 50%;
  
}

.secondProject {
  grid-template-columns: 50% 30%;
}

.firstProject>div {
  color: white;
}

.secondProject>div {

  color: white;
}

.pr1img {
  width: 100%;
}

.pr2img {
  width: 100%;
}

.deschead {
  color: white;
  font-size: 1.5vw;
}

.descp {
  letter-spacing: 0.2vw;
  font-size: 0.9vw;
  color: white;
}

.firstProject>div:nth-child(1) {
  display: grid;
  align-items: center;

}

.firstProject>div:nth-child(2) {

  background-color: rgba(244, 235, 235, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1vw;
  /* margin: 20px; */
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* height: 80%; */
  border-radius: 1vw;

}

.secondProject>div:nth-child(1) {
  background-color: rgba(244, 235, 235, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 1vw;
  border-radius: 1vw;
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.secondProject>div:nth-child(2) {
  display: grid;
  align-items: center;
 
}

.link{
  text-decoration: none;
  font-size: 13px;
  background-image: linear-gradient(to right, #c3073f, #c3073f, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  background-position: -50%
}

.link:hover {
  animation: projectText 0.5s forwards;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@keyframes projectText {
  to {
    background-position: -130%;
  }
}

hr {
  width: 20rem;
  margin: auto;
}

#contact {
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 20% 40%;
  justify-content: space-around;
  align-items: center;
}
#contact>div{
  color: white;
}
#contact>div:nth-child(1){
  padding: 10px;
}

.cform>input {
  height: 3rem;
  border: none;
  width: 90%;

  outline: none;
  font-size: 1.2rem;
  color: white;
  padding: 20px;
  background-color: transparent;
  letter-spacing: 2px;
  border-bottom: 2px solid #c3073f;


}

::placeholder {
  color: white;
  background-color: #1a1a1d;
}

#msg {
  height: 100px;
  width: 90%;
  border-bottom: 2px solid #c3073f;

  outline: none;

  font-size: 1.2rem;
  color: white;
  padding: 20px;
  resize: none;

}

#msg:focus {

  outline: none;

  border-bottom: 2px solid #c3073f;
}

#sub {
  margin-top: 20px;
}
.ctext{
  padding: 20px;
  display: grid;
  grid-template-columns: 80% 20%;
}
.ctext>span>img{
  width: 100%;
}
.so{
  border: 2px solid white;
  height: 12rem;
  width:  12rem;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  margin: 30px;
  animation: animatedText 1.5s infinite alternate-reverse;
  background-image: linear-gradient(to right, #c3073f, #b5496a, #2453e2, hsl(180, 57%, 36%));
  background-size: 300%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sm{
  padding: 20px;
}
.sm>img{
  width: 2rem;
  height: 2rem;
  margin: 3rem 3rem 0 2rem;

  cursor: pointer;
  transition: 0.5s;

}
.sm>img:hover{
  scale: 1.1;
  
  
}
#contact>div:nth-child(2){
  display: grid;
justify-content: center;
}
#fourth{
margin-top: 70px;
}
#fourth>:nth-child(1){
  display: grid;
  justify-content: center;
  align-items: center;
  height: 90px;
  
}
.intro>span{
  display: grid;
  justify-content: center;
  align-items: center;
}
.intropara{
  width: 70%;
  margin: 0 auto 0px auto;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  line-height: 50px;
  letter-spacing: 2px;
    width: 85%;
}
.introh2{
  width: 40%;
  margin: auto;
  font-size:2rem;
  text-align: center;
  color: white;
}
.resbtn{
  height: 3rem;
  width: 18rem;
  margin: 40px auto 0 auto;
  font-size: 20px;
  color: white;
  border: 2px solid white;
  background-image: linear-gradient(to right, #c3073f, #c3073f, #1a1a1d, #1a1a1d);
  background-size: 300%;
  background-position: -50%;
  transition: 1s;
}
.resbtn:hover{
  background-position: -300%;
  cursor: pointer;
}
.mail{
  color: white;
  font-size: 15px;

}
.mail>img{
  height: 20px;
  width: 20px;
  margin-left: 10px;cursor: pointer;
}
@keyframes mail{
0%{
  opacity: 0;
}
30%{
  opacity: 0;
}
60%{
  opacity: 0;
}
90%{
  opacity: 0;
}

}
.download{
  display: grid;
  text-decoration: none;
  
}





#github>h1{
  text-align: center;
}
.text-muted{
  color: #c3073f;
}
.float-right{
  color: #c3073f;
}
:root {
  --color-calendar-graph-day-bg: #dddbdb;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

rect.ContributionCalendar-day[data-level='0'] {
    fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level='1'] {
    fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level='2'] {
    fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level='3'] {
    fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level='4'] {
    fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full > .float-left {
    display: none;
}

.calendar {
    font-family: Helvetica, arial;
    
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
    padding: 0 100px 0 100px;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 10px;
    fill: #aaa;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {
    padding: 5px 0 0;
    text-align: center;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;

    font-size: 11px;
}

.contrib-column-first {
    border-left: 0;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    font-size: 24px;
    display: block;
    color: white;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}
#user-activity-overview{
    display:none;
}

.day-tooltip {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    font-size: 12px;
    color: #959da5;
    text-align: center;
    background: rgba(0,0,0,.85);
    border-radius: 3px;
    display: none;
    pointer-events: none;
}
.day-tooltip strong {
    color: #dfe2e5;
}
.day-tooltip.is-visible {
    display: block;
}
.day-tooltip:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -5px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0,.85)
}

text.ContributionCalendar-label {
    fill: #ccc;
    font-size: 11px;
}
.endbox{
  height: 110px;
  color: #c3073f;
  font-size: 15px;
  z-index: 6;
  display: flex;
  text-align: center;
  justify-content: center;
column-gap: 3%;
bottom: 0%;
}

.endbox>img{
  width: 10%;
  height: 100%;
}
.resi{
  border: 4 px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.github_stats{
  width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;

  margin:50px auto 50px auto;
  
}
.github_stats>a>img{

  width: 100%;

}
#navbar{
  color: white;
  position: fixed;
  z-index: 7;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100px;
  top: 0%;
  
}
.navIInd{

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;

  
}
.navIst{
  height: 70%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.navIst>img{

height: 70px;
 
}
.navlink{

text-decoration: none;

  color: white;
  font-size: 15px;
  letter-spacing: 2px;
 
}
.navlink:hover+hr{
  width: 100%;
  transition: 0.5s;
}
.linkU{

  width: 0%;
background-color: #c3073f;
border-color: #c3073f;
 transition: 0.5s;
 height: 1px;
 }
#menu{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
   display: none;
}
#menu>img{
  width: 100%;
  height: 30px;
  cursor: pointer;
  }
#drop_down{
 
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 50%;
 left: 47%;
 display: none;
 top: 0%;
 
 
}
#drop_down>div{
background: transparent;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 10%;
}
#close>img{
 
  height: 25%;
  width: 100%;
  cursor: pointer;
}
#home{
  cursor: pointer;
}
.cards{
  width: 80%;
  margin: 30px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  align-items: center;

}
.cards>div>img{
  width: 100%;
}

/* #slider{
  width: 100%;
  transition: transform 500ms ease-in;
  
}


#slider::-webkit-scrollbar {
  border-radius: 10px;
  height: 8px;
}

#slider::-webkit-scrollbar:vertical {
  display: none;
}
#slider>div{
  scroll-snap-align: start;
} */
.skillName{
  color: white;
}


@media all and (max-width :1300px) and (min-width:700px) {
  .skillName{

     font-size: 10px;

  }
  .firstProject{
    grid-template-columns: 55% 40%;
  }
  .secondProject{
    grid-template-columns: 40% 55%;
  }
  
  .calender{
    padding: 0 50px 0 50px;
  }

  .about>.first>h1 {
    font-size: 40px;
    position: relative;

    animation: animatedText 1.5s infinite alternate-reverse, mtext 2s 1;
  }

  .about>.first>p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
   
  }
  .about>.first>p:nth-child(3){
    animation: mail 2s ;
  }
  .about {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    height: 750px;
  }

  .first {
    height: 10px;
    padding: 20px;
  }

  .images>div {
    width: 60px;
    height: 60px;
    transition: 0.5s;

  }
  #dsaC{
    display: none;
  }
  .techstack>h1 {
    font-size: 30px;
  }
  .sec{
    margin-top: 100px;  
  }
  .second{
    height: 200px;
    width: 200px;
  }
  .resbtn{
    width: 200px;
    font-size: 1rem;
  }
  .head{
    font-size: 30px;  }
  .introh2{
    font-size: 20px;
    width: 50%;
  }
  .intropara{
    font-size: 1rem;
    line-height: 25px;
    width: 90%;
    }

  .deschead{
    font-size: 22px;
  }
  .descp{
    font-size: 15px;
        width: 100%;
    margin: 10px auto 10px auto;
  }.btn{
    font-size: 12px;
   margin-bottom: 20px;
   letter-spacing: 2px;
  }
  .link{
    font-size: 1rem;
  }
  .links
  {
    margin: 20px 0 20px 0;
  }
  .primg{
    margin-top: 20px;
    width: 80%;
    
    margin: 20px auto 20px auto;
   
  }

  #contact{
    display: block;
  }
  #contact>div:nth-child(1){
    width: 70%;
    margin: auto;
  }
  #contact>div:nth-child(3){
    width: 70%;
    margin: auto;
   
  }
  
  .chead{
    font-size: 21px;
  }
  .chead+h2{
    font-size: 15px;
  }.ctext>span>img{
    height: 50px;
  }
 #dsaC{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 70%;
    margin: 40px auto 40px auto;
 }
 .so{
  font-size: 25px;
  width: 150px;
  height: 150px;
 
 }
 .sm>h1{
  font-size: 21px;
 }
 .sm>img{
   height: 20px;
   width: 20px;
 }
 .sm>a{
  font-size: 12px;
 }
 .navlink{
  font-size: 10px;
 
}
.navIst{
  height: 70%;
  width: 70%;
  margin: auto;
}
 .navIst>img{
 width: 100%;
 }
 .contrib-number{
  font-size: 15px;
 }
 .text-muted{
  font-size: 15px;
 }
 .navIInd{
  column-gap: 3%;
 }
 
}

@media all and (max-width :700px) and (min-width:200px) {

   .skillName{
  font-size: 8px;
   }

  .float-right{
    font-size: 10px;
  }
  .calendar{
    padding: 0 50px 0 50px;
  }
  
  .text-muted{
    font-size: 6px;
     letter-spacing: 0.5px;
   }
  .contrib-number{
    font-size: 8px;
   }
   
  #menu{
    display: block;
    display: grid;

  }
  
 .navIInd{
  display: none;
 }

 .navIst>img{
  width: 100%;
  height: 80%;
 }
 #navbar{
  grid-template-columns: 40% 30%;
 justify-content: center;
  column-gap: 20%;
 }
 
  .about>.first>h1 {
    font-size: 20px;
    position: relative;

    animation: animatedText 1.5s infinite alternate-reverse, ntext 2s 1;
  }
  .about {
    display: flex;

    align-items: center;
    flex-direction: column;  }

  .about>.first>p:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
   
  }
  .about>.first>p:nth-child(3){
    font-size: 10px;
    animation: mail 2s ;
  }
 

  .images>div {
    width: 50px;
    height: 50px;
    transition: 0.5s;
 

  }

  .techstack>h1 {
    font-size: 25px;
  }
  
  .resbtn{
    width: 180px;
    font-size: 15px;
  }
  .head{
    font-size: 25px;
  }
  .introh2{
    font-size: 15px;
    width: 50%;
    width: 90%;
  }
  .intropara{
    font-size: 12px;
    line-height: 20px;
    width: 90%;
    margin-bottom: 100px;
  }
  .firstProject, .secondProject{
    display: block;
  }
  .deschead{
    font-size: 22px;
  }
  .descp{
    font-size: 12px;
    width: 90%;
    
    margin: 20px auto 20px auto;
  }.btn{
    font-size: 11px;
   margin-bottom: 20px;
   letter-spacing: 2px;
   width: 150px;
  }
  hr{
    width: 60%;
  }
  .link{
    font-size: 15px;
  }
  .links
  {
    margin: 20px 0 20px 0;
  }
  .primg{
    margin-top: 20px;
    width: 80%;
    margin: 20px auto 20px auto;
  }
  #contact{
    display: block;
  }
  #contact>div:nth-child(1){
    width: 90%;
    margin: auto;
  }
  #contact>div:nth-child(3){
    width: 90%;
    margin: auto;
   
  }
  
  .chead{
    font-size: 15px;
  }
  .chead+h2{
    font-size: 12px;
  }.ctext>span>img{
    height: 30px;
    margin-left: 20px;
  }
  .cform>input{
    font-size: 13px;
    height: 50px;
  }
  #msg{
    font-size: 13px;
  }
 #dsaC{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 40px auto 40px auto;
 }
 .so{
  font-size: 13px;
  width: 90px;
  height: 90px;
  border: 1px solid white;
 }
 .sm>h1{
  font-size: 15px;
  text-align: center;
 }
 .sm>img{
   height: 20px;
   width: 20px;
 }
 .sm>a{
  font-size: 10px;
  margin-left: -33px;
 }
 .second{
  height: 150px;
  width: 150px;
  margin: auto;
 }
 .projects{
  height: 700px;
 }
}



